<!DOCTYPE html>
<html lang="es">
    <style>
    .btn {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        font-family: sans-serif;
    }
    .btn:hover {
        background-color: #0056b3;
    }
    h1{
        font-family: sans-serif;
        font-weight: 900;
    }
    </style>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">
        <title>Calculadora</title>
    </head>
    <body>
        <center><h1>Index</h1>
            <img src="/static/images/OIP.webp" alt="Imagen de Calculadora"><br><br><br><br>
            <a href="/calculadora" class="btn">Calculadora</a>
        </center>

    </body>
</html>